parameters:
    level: 6
    paths:
        - src/
        - tests/
    excludePaths:
        - tests/Fixtures/
    bootstrapFiles:
        - vendor/autoload.php
        - tests/bootstrap.php
    ignoreErrors:
        -
            message: '#Dynamic call to static method#'
            paths:
                - tests/
