<div class="beacon-filter beacon-filter--entity">
    {% set entityOptions = app.request.attributes.get('_beacon_admin_entity_filter_options') %}
    {% set options = entityOptions is iterable and entityOptions[name] is defined ? entityOptions[name] : {} %}
    <select name="filter[{{ name }}]"
            id="filter-{{ name }}"
            class="beacon-filter__select"
            data-action="change->beacon--datatable#filterChange">
        <option value="">Any</option>
        {% for value, label in options %}
            <option value="{{ value }}" {% if currentValue == value %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
    </select>
</div>
