{% extends '@BeaconAdmin/layout.html.twig' %}

{% block title %}Beacon Demo{% endblock %}

{% block sidebar %}
    <aside class="beacon-sidebar">
        <div class="beacon-brand">
            <span class="beacon-title">Beacon Demo</span>
        </div>
        <nav class="beacon-nav">
            <ul>
                <li><a href="{{ path('beacon_admin_dashboard') }}">Dashboard</a></li>
                <li><a href="{{ path('beacon_admin_demo_product_list') }}">Products</a></li>
                <li><a href="{{ path('beacon_admin_demo_category_list') }}">Categories</a></li>
                <li><a href="{{ path('beacon_admin_demo_user_list') }}">Users</a></li>
            </ul>
        </nav>
    </aside>
{% endblock %}
