<footer class="beacon-footer">
    <div class="beacon-footer-content">
        <span class="beacon-footer-text">
            {{ beacon_admin_config('title')|default('Beacon Admin') }}
        </span>
        <span class="beacon-footer-version">
            v1.0.0
        </span>
    </div>
</footer>
